.navbar-default, .navbar-custom {
    background-color: #9DE0AD;
    background-image: none;
    background-repeat: no-repeat;
	  border: none;
}

/*.navbar-brand-custom {
    color: #FBFFFF;
    font-size: 30px;
    font-family: Arial;
}*/

/*.navbar-brand-custom {
  float: left;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
}*/

.navbar-default .navbar-nav > li > a {
    color: #FBFFFF;
    font-size: 16px;
    font-family: Century Gothic;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #9DEOAD;
    font-family: Century Gothic;
}

.navbar-default .navbar-nav > li > a > brand {
		color: #FBFFFF;
    font-size: 36px;
    font-family: Century Gothic;
}