<!--<form ng-submit="submit()">
	<div class="form-group">
		<button type="button" class="btn btn-primary" ng-click='refresh()'>Refresh</button>
	</div>
</form>
<
<nav class="navbar navbar-default navbar-custom">
	<div class="container"> 
		<ul class="nav navbar-nav">
	    	<li><a href="#/home"><i class="fa fa-home"></i>BBC News</a></li>
	    	<li><a href="#/home"><i class="fa fa-home"></i>Bloomberg</a></li>
	    	<li><a href="#/home"><i class="fa fa-home"></i>CNN</a></li>
	    	<li><a href="#/home"><i class="fa fa-home"></i>Financial Times</a></li>
	    	<li><a href="#/home"><i class="fa fa-home"></i>TechCrunch</a></li>
	    	<li><a href="#/home"><i class="fa fa-home"></i>Time</a></li>
		</ul>
	</div>
</nav> -->

<div ng-repeat="news in newsResult.articles">  
    <div class="row">
        <div clas="col-md-6">
            <news-view news-detail="news"></news-view>
        </div>
    </div>
</div>