<div class="category-row">
	<nav class="navbar navbar-default navbar-custom">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a href="#/bbcnews"><i class="fa fa-home"></i>BBC News</a></li>
				<li><a href="#/bloombergnews"><i class="fa fa-home"></i>Bloomberg</a></li>
				<li><a href="#/cnnnews"><i class="fa fa-home"></i>CNN</a></li>
				<li><a href="#/ftnews"><i class="fa fa-home"></i>Financial Times</a></li>
				<li><a href="#/tcnews"><i class="fa fa-home"></i>TechCrunch</a></li>
				<li><a href="#/timenews"><i class="fa fa-home"></i>Time</a></li>
			</ul>	
		</div>
	</nav>
</div>
